section {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  flex-wrap: wrap;
  padding: 10px 20px 20px 20px; 
  background-color: #f3f3f3;
}

.user-card {
  width: 250px;
  padding: 1rem;
  background-color: #834545;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  text-align: center;
}


.image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-bottom: 10px;
}

.name {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  color: #333;
  margin: 5px 0;
}

.description {
  font-size: 14px;
  color: #666;
  text-align: center;
  margin-bottom: 10px;
}

button {
  background-color: #7e0d9d;
  color: rgb(15, 232, 221);
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #5d0974;
}

.fruta-titulo {
  text-align: center;
  margin-bottom: 20px;
  color: #aa2828;
}
div{
  color: #7e0d9d;
}